body {
  background-image: url('../src/images/bkgd2.jpg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 1vh;
  width: 100%;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  bottom: 0;
}

.dice-grid {
  width: 450px;
  height: 500px;
  margin-top: 50px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 2fr 2fr;
  grid-template-rows: repeat(7, 1fr);
  background-image: url('../src/images/parch2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.D {
  display: inline-grid;
  grid-column: 1 / span 6;
  border-bottom: 1px solid black;
  grid-template-areas: 
    "die x total-dice dice-count score-button score";
}

.D100 {
  display: inline-grid;
  grid-column: 1 / span 6;
  grid-template-areas: 
    "die x total-dice dice-count score-button score";
}


.die {
  grid-area: die;
  margin: 0;
  align-self: center;
  justify-self: center;
}

.x {
  grid-area: x;
  margin: 0;
  align-self: center;
  justify-self: center;
}

.total-dice {
  grid-area: total-dice;
  margin: 0;
  align-self: center;
  justify-self: center;
}

.dice-count {
  grid-area: dice-count;
  width: 35px;
  margin: 0;
  align-self: center;
  justify-self: center;
}

.score-button {
  grid-area: score-button;
  align-self: center;
  justify-self: center;
  margin: 0;
}

.score {
  grid-area: score;
  margin: 0;
  align-self: center;
  justify-self: center;
}