.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.dice-grid {
  width: 450px;
  height: 400px;
  margin-top: 50px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 2fr 2fr;
  grid-template-rows: repeat(6, 1fr);
  border: 1px solid black;
}

.D {
  display: inline-grid;
  grid-column: 1 / span 6;
  border-bottom: 1px solid black;
  grid-template-areas: 
    "die x total-dice dice-count score-button score";
}


.die {
  grid-area: die;
  /* width: 50px; */
  margin: 0;
  align-self: center;
  justify-self: center;
}

.x {
  grid-area: x;
  /* width: 100%; */
  margin: 0;
  align-self: center;
  justify-self: center;
}

.total-dice {
  grid-area: total-dice;
  /* width: 100%; */
  margin: 0;
  align-self: center;
  justify-self: center;
}

.dice-count {
  grid-area: dice-count;
  width: 35px;
  margin: 0;
  align-self: center;
  justify-self: center;
}

.score-button {
  grid-area: score-button;
  align-self: center;
  justify-self: center;
  margin: 0;
}

.score {
  grid-area: score;
  /* width: 100px; */
  margin: 0;
  align-self: center;
  justify-self: center;
}